version: 2
updates:
  # Fetch and update latest `yarn` packages
  - package-ecosystem: yarn
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 10
    reviewers:
      - moritz pfl端ger
    assignees:
      - moritz pfl端ger
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
  # Fetch and update latest `github-actions` pkgs
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 10
    reviewers:
      - moritz pfl端ger
    assignees:
      - moritz pfl端ger
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
